.meme {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 3fr;
  justify-items: center;
}

.meme--image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

.img-box {
  position: relative;
  background-color: white;
}

.border {
  padding: 2rem;
  border: 0.3rem solid black;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 35%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

/* loading indicator */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: rgb(149, 0, 255);
  background: linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  animation: sh5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
/* 
.load-box > p {
  display: flex;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: rgb(149, 0, 255);
} */

/* Get new meme button */
.meme--button {
  margin: 0 auto;
  width: 60%;
  height: 3rem;
  grid-column: 1 / -1;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

/* Aside Buttons */

.meme-buttons--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0px;
  margin-left: 1rem;
  background-color: white;
  padding: 1rem;
  opacity: 80%;
  border-radius: 10px;
  height: 50vh;
}

.aside-button {
  margin: 0 auto;
  width: 100%;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: 2px solid black;

  cursor: pointer;
}

.aside-button > span {
  margin-right: 10px;
}

.errorMsg {
  color: red;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

/* Media queries  */

@media only screen and (max-width: 2570px) {
  .loading {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }

  .meme--text {
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin: 15px 0 25px 0px;
    padding: 0 5px;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1440px) {
  .loading {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -40%);
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .meme--button {
    font-size: 1.2rem;
  }

  .aside-button {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .meme_logo {
    width: 50px;
  }

  img {
    width: 100%;
  }

  .form-container {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .aside-button {
    width: 50%;
    font-size: medium;
    display: flex;
  }

  .meme--button {
    margin: 0 auto;
    width: 50%;
    height: 3rem;
    font-size: medium;
  }

  .meme {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .meme-buttons--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 787px) {
  img {
    width: 500px;
  }

  .form-container {
    display: flex;
    width: 100%;
    margin-right: 20%;
    justify-content: center;
  }

  .aside-button {
    width: 50%;
    font-size: medium;
    display: flex;
    margin-left: 40%;
    margin-top: 1.5rem;
  }

  .meme--text {
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin: 15px 0 25px 0px;
    padding: 0 5px;
    font-size: 1.5em;
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }

  .loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 744px) {
  .form-container {
    display: flex;
    width: 100%;
    margin-right: 25%;
    justify-content: center;
  }
  .meme-buttons--container {
    width: 50%;
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
  }

  .aside-button {
    margin-top: 1.5rem;
  }
  .meme--text {
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin: 15px 0 40px 0px;
    padding: 0 5px;
    font-size: 1em;
  }
}

@media only screen and (max-width: 450px) {
  .form-container {
    display: flex;
    width: 100%;
    margin-right: 30%;
    justify-content: center;
  }

  .meme--text {
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin: 15px 0 40px 0px;
    padding: 0 5px;
    font-size: 1em;
  }

  .aside-button {
    width: 50%;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 400px) {
  img {
    width: 500px;
  }

  .aside-button {
    width: 30%;
    font-size: small;
    display: flex;
    flex-direction: column;
  }

  .meme-buttons--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0px;
    margin-top: 1.5rem;
    margin-right: 35%;
  }

  .meme--text {
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin: 15px 0 40px 0px;
    padding: 0 5px;
    font-size: 1em;
  }
}

@media only screen and (max-width: 399px) {
  .meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-size: 1.2em;
  }

  .aside-button {
    width: 40%;
    font-size: small;
    display: flex;
    flex-direction: column;
  }

  .meme-buttons--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 0.1rem;
    margin-right: 45%;
  }
  .meme_logo {
    width: 50px;
  }

  .aside-button {
    width: 40%;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .loading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40px;
    height: 40px;
  }
}
