.meme {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-items: center;
}

.meme--image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

.img-box {
  position: relative;
  background-color: white;
}

.border {
  padding: 2rem;
  border: 0.3rem solid black;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 35%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

/* loading indicator */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: rgb(149, 0, 255);
  background: linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  animation: sh5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
/* 
.load-box > p {
  display: flex;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: rgb(149, 0, 255);
} */

/* Get new meme button */
.meme--button {
  margin: 0 auto;
  width: 60%;
  height: 3rem;
  grid-column: 1 / -1;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

/* Aside Buttons */

.meme-buttons--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0px;
  margin-left: 1rem;
  background-color: white;
  padding: 1rem;
  opacity: 80%;
  border-radius: 10px;
  height: 50vh;
}

.aside-button {
  margin: 0 auto;
  width: 100%;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: 2px solid black;

  cursor: pointer;
}

.aside-button > span {
  margin-right: 10px;
}

.errorMsg {
  color: red;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

/* Media queries  */

@media only screen and (max-width: 2880px) and (min-width: 1200px) {
  .meme--text {
    left: 50%;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 35%;
  }

  .img-box {
    width: 700px;
  }

  .meme--image {
    width: 700px;
    height: 400px;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 80%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .meme {
    width: 50%;
    margin-right: 13rem;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 70%;
  }

  .img-box {
    width: 450px;
  }

  .meme--text {
    left: 50%;
  }

  .meme--button {
    font-size: 1rem;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 70%;
  }

  .meme--text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 999px) and (min-width: 854px) {
  .meme {
    width: 50%;
    margin-right: 20rem;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 70%;
  }

  .img-box {
    width: 450px;
  }

  .meme--text {
    left: 50%;
  }

  .meme--button {
    font-size: 1rem;
  }

  .meme-buttons--container {
    width: 70%;
    justify-content: center;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 60%;
  }

  .meme--text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 853px) and (min-width: 730px) {
  .meme {
    width: 250px;
    margin-right: 33rem;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 90%;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 50%;
  }

  .meme-buttons--container {
    width: 70%;
    justify-content: center;
  }

  .img-box {
    width: 400px;
    margin-left: 2rem;
  }

  .meme--text {
    left: 50%;
  }

  .meme--button {
    font-size: 1rem;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 70%;
  }

  .meme--text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 729px) and (min-width: 600px) {
  .img-box {
    width: 350px;
    margin-left: 5rem;
  }
  .border {
    padding: 1rem;
  }

  .loading {
    position: absolute;
    top: 30%;
    left: 40%;
  }

  .meme--text {
    left: 50%;
  }
  .meme {
    display: flex;
    flex-direction: column;
  }

  .meme-buttons--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .btn-upload {
    display: grid;
    grid-column: 3 / 4;
  }

  .meme--button {
    font-size: 0.8rem;
    width: 50%;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 50%;
  }

  .btn-share {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .meme--text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .img-box {
    width: 350px;
    margin-left: 5rem;
  }
  .border {
    padding: 1rem;
  }

  .loading {
    position: absolute;
    top: 30%;
    left: 50%;
  }

  .meme--text {
    left: 50%;
  }
  .meme {
    display: flex;
    flex-direction: column;
  }

  .meme-buttons--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .meme--button {
    font-size: 0.8rem;
    width: 50%;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 70%;
  }

  .btn-upload {
    display: grid;
    grid-column: 3 / 4;
  }

  .btn-share {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .meme--text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 399px) and (min-width: 200px) {
  .form-container {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-right: 50px;
  }

  .loading {
    position: absolute;
    top: 30%;
    left: 60%;
  }

  .img-box {
    width: 250px;
    margin-left: 5rem;
  }
  .border {
    padding: 0.5rem;
  }

  .meme--text {
    left: 50%;
  }
  .meme {
    display: flex;
    flex-direction: column;
  }

  .meme-buttons--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 30vh;
    width: 90%;
  }

  .meme--button {
    font-size: 0.8rem;
    width: 50%;
  }

  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    width: 70%;
  }

  .btn-upload {
    display: grid;
    grid-column: 3 / 4;
    width: 40%;
  }

  /* .btn-upload > input {
   
  }  */

  .btn-capture {
    width: 100%;
  }

  .btn-share {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .meme--text {
    font-size: 1.2rem;
  }
}
